# DB Neon credentials secure: do not expose them to client-side code
DATABASE_URL=

# Auth Better-auh
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Resend 3 mil envios por mês
RESEND_API_KEY=

# Stripe
# No Next.Js variáveis pública devem ter o "NEXT_PUBLIC"
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Após criar o webhook do stripe na minha aplicação api/stripe/webhook/route.ts;
# gerada pelo CLI do Stripe o "webhook signing secret"
# criar uma variavel de ambiente no .env com o nome "STRIPE_WEBHOOK_SECRET" e passar o valor da "signing secret";
STRIPE_WEBHOOK_SECRET=